<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="myTestBean" class="com.qzb.beans.MyTestBean">
		<property name="name" value="TestName"/>
	</bean>

<!--	<bean class="com.qzb.spring.HelloSpring">
		<constructor-arg index="0" value="demo"/>
		<constructor-arg name="sex" type="java.lang.Integer" value="1"/>
	</bean>-->

	<!-- 静态工厂方法创建 -->
	<bean class="com.qzb.spring.HelloSpring" factory-method="build"/>
</beans>